<div class='container'>
  <div class='row py-5'>
    <div class='col-6'>
      <div class="card h-100 border-info">
        <div class="card-header bg-info text-white text-center"><b>ステイケーションとは</b></div>
        <div class="card-body">
          <h6 class="card-title text-center"><b>それは新しい休日の過ごし方</b></h6>
          <p class="card-text">
            ステイケーションとは、<i>Stay</i> と <i>Vacation</i> を組み合わせた造語です。<br>
            遠くへ旅行に行って休暇を過ごすのではなく、近場のホテルなどを<br>
            利用して旅行気分を味わうという休日の楽しみ方です。
          </p>
          <p class="card-text">
            夫婦でホテルに泊まって、客室露天風呂で日々の疲れを癒やしたり、<br>
            プロジェクター付き客室で、友人とともに好きな映画を鑑賞したり、<br>
            サブスクのサービスが利用できるホテルでひとり読書にふけったり、<br>
            ホテルでの楽しみ方は人それぞれです。
          </p>
        </div>
      </div>
    </div>
    <div class='col-6'>
      <div class="card h-100 border-info">
        <div class="card-header text-center"><b>Staycatorについて</b></div>
        <div class="card-body bg-info text-white">
          <h6 class="card-title text-center"><b>多くの人にステイケーションを楽しんでもらいたい</b></h6>
          <p class="card-text">
            こちらのサイトでは、「ステイケーションを楽しむ」という視点から<br>
            ホテルのレビューを投稿できます。<br>
          </p>
          <p class="card-text">
            「客室にプロジェクター」「館内に岩盤浴」などサービスの情報や<br>
            「#サプライズ」「#夜景が綺麗」など、他のユーザがタグ付けした<br>
            情報で、レビューを検索することができます。
          </p>
          <p class="card-text">
            ぜひご自身の体験も、レビューとして投稿してみてください。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>