<div class='container'>
  <div class='row'>
    <div class='col-12 mt-5'>
      <div class="card h-100">
        <div class="card-header"><b>次はどこでステイケーションを楽しみますか？</b></div>
        <div class="card-body">
          <h5 class="card-title mt-3"><b>レビューを検索してみましょう</b></h5>
          <%= render 'templates/search' %>
        </div>
      </div>
    </div>
  </div>
  <div class='row pb-5'>
    <%= render 'templates/index', reviews: @reviews %>
  </div>
</div>