<div class='container'>
  <div class='row pt-5'>
    <div class='col-12'>
      <div class="card h-100">
        <div class="card-header"><b>どこでステイケーションを楽しみますか？</b></div>
        <div class="card-body">
          <h5 class="card-title mt-3"><b>ホテルやレビューを検索してみましょう</b></h5>
          <%= render 'templates/search' %>
        </div>
      </div>
    </div>
  </div>
  <% if @reviews.present? %>
    <div class='row pt-2'>
      <h3 class="mx-auto py-1 px-3 rounded-pill border border-dark bg-dark text-white">New Reviews</h3>
    </div>
  <% end %>
  <div class='row'>
    <%= render 'templates/review_index', reviews: @reviews %>
  </div>
</div>