<div class='container'>
  <h4>TOP</h4>
  <% if user_signed_in? %>
            <li>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            </li>
          <% end %>
</div>