<div class='container'>
  <h4 class="mt-3">本当に退会しますか？</h4>
  <span>以下の注意事項を必ずご確認の上、退会の手続きをしてください。</span>
  <div class='row mt-5'>
    <ul>
      <li style="list-style: none;"><b>プロフィール</b></li>
      <li style="list-style: none;">個人情報はすべて削除されます。</li>
      <li style="list-style: none;">再度登録された場合でも、退会前の登録内容を引き継ぐことはできません。</li>
    </ul>
  </div>
  <div class="button">
    <%= link_to "退会しない", root_path %>
    <%= link_to "退会する", users_withdraw_path, method: :patch %>
  </div>
</div>
