<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100 border-danger">
        <div class="card-header"><b>まだ退会は完了していません</b></div>
        <div class="card-body">
          <h6 class="card-title text-danger"><b>以下の注意事項を必ずご確認の上、退会の手続きをしてください。</b></h6>
          <p class="card-subtitle"><b>プロフィールについて</b></p>
          <ol class="card-text">
            <li>個人情報はすべて削除されます</li>
            <li>再度登録された場合でも、退会前の登録内容を引き継ぐことはできません</li>
          </ol>
          <p class="card-subtitle"><b>レビュー・いいね・コメントについて</b></p>
          <ol class="card-text">
            <li>退会前に投稿したレビュー・いいねはすべて削除されます</li>
            <li>退会前に投稿したコメントは、退会後も削除されません</li>
          </ol>
          <%= link_to "Return", root_path, class: "btn btn-outline-dark" %>
          <%= link_to "Withdraw", users_withdraw_path, method: :patch, class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>