<% review.comments.each do |comment| %>
<p class="card-text mt-3">
  <% if comment.user.is_deleted == false %>
    <%= comment.user.name %>
    <%= link_to user_path(comment.user), class: "btn btn-outline-dark" do %>
      <i class="fas fa-user"></i>&nbsp;Show User
    <% end %>
  <% else %>
    退会済みユーザ
  <% end %>
</p>
<p class="card-text">
  <%= comment.comment %>
  <% if comment.user == current_user %>
    <%= link_to "Delete", review_comment_path(review, comment), method: :delete, class: "btn btn-outline-dark" %>
  <% end %>
</p>
<% end %>