<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b><%= @item.name %>に関するレビュー一覧</b></div>
        <% @item.reviews.each do |review| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to review_path(review), class: "btn btn-outline-dark" do %>
              <i class="fa-solid fa-book-open"></i>
            <% end %>
            <span class="card-text ml-3"><%= review.title %></span>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>