<footer style="background-color:#131b2c;">
  <div class='container'>
    <div class='row py-4'>
      <p class="mx-auto" style="color: #fff;">© 2022 All rights reserved by Staycation</p>
    </div>
  </div>
</footer>