<footer style="background-color:#131b2c;">
  <div class='container'>
    <div class='row'>
    <!--サイトマップを追加する-->
      <div class='col mt-3'>
        <ul class="navbar-nav list-inline">
          <h6 style="color:#fff;">ホテルを探す</h6>
          <li><%= link_to "ホテル一覧を見る", hotels_path, style: "color:#fff;" %></li>
          <li><%= link_to "サービス一覧を見る", items_path, style: "color:#fff;" %></li>
          <li><%= link_to "タグ一覧を見る", tags_path, style: "color:#fff;" %></li>
        </ul>
      </div>
      <div class='col mt-3'>
        <h6>サイトマップ</h6>
        <ul>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
        </ul>
      </div>
      <div class='col mt-3'>
        <h6>サイトマップ</h6>
        <ul>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <p class="mx-auto" style="color: #ffffff;">© 2022 All rights reserved by Staycation</p>
    </div>
  </div>
</footer>