<footer style="background-color:#131b2c;">
  <div class='container'>
    <div class='row'>
    <!--サイトマップを追加する-->
      <div class='col mt-3'>
        <h6>サイトマップ</h6>
        <ul>
          <li style="list-style:none;"><%= link_to "Review Index", reviews_path, style: "color:#898d96;" %></li>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
        </ul>
      </div>
      <div class='col mt-3'>
        <h6>サイトマップ</h6>
        <ul>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
        </ul>
      </div>
      <div class='col mt-3'>
        <h6>サイトマップ</h6>
        <ul>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
          <li>サイトマップ</li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <p class="mx-auto" style="color: #ffffff;">© 2022 All rights reserved by Staycation</p>
    </div>
  </div>
</footer>