<div class='container'>
  <div class='row py-5'>
    <div class='col-12'>
      <div class="card h-100">
        <div class="card-header"><b>登録されているホテル一覧</b></div>
        <%= render 'templates/hotels', hotels: @hotels %>
      </div>
    </div>
  </div>
</div>