<%= form_with model: hotel, url: hotels_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.text_field :hotel_name, autofocus: true, class: "form-control", :placeholder => "ホテル名を入力してください" %>
  </div>
  <div class="form-group">
    <%= f.select :area, Hotel.areas_i18n.invert, { prompt: "選択してください" }, class: "form-control" %>
  </div>
    <%= f.submit "登録", data: { confirm: "登録しますか？" }, class: "btn btn-outline-dark" %>
<% end %>