<div class='container'>
  <div class='row'>
    <div class='col-lg-4'>
      <span>ユーザについて</span>
      <ul>
        <li style="list-style: none;"><%= @user.name %></li>
        <li style="list-style: none;"><%= @user.age_i18n %></li>
        <li style="list-style: none;"><%= @user.gender_i18n %></li>
        <li style="list-style: none;"><%= @user.area_i18n %></li>
      </ul>
    </div>
  </div>
</div>