<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b>登録されているタグ一覧</b></div>
        <%= render 'templates/tags', tags: @tags %>
      </div>
    </div>
  </div>
</div>