<div class='container'>
  <div class='row py-5'>
    <div class='col-12'>
      <div class="card">
        <div class="card-header"><b>現在登録されているタグ一覧</b></div>
        <%= render 'templates/tags', tags: @tags %>
      </div>
    </div>
  </div>
</div>