<div class='container'>
  <div class='row'>
    <div class='col-12 my-5'>
      <div class="card h-100">
        <div class="card-header"><b>現在登録されているタグ一覧</b></div>
        <% if @tags.present? %>
          <% @tags.each do |tag| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to tag_path(tag), class: "btn btn-outline-dark" do %>
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
              <% end %>&nbsp;
              <%= tag.name %>
            </li>
          </ul>
          <% end %>
        <% else %>
          <div class="card-body"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>